<section class="events">
    <div class="border-container top">
            <div class="container content">
                <div class="row mb-5">
                        <div class="col-xl-6 offset-xl-3 col-sm-12 offset-sm-0">
                            <h2>Предстоящие события</h2>
                            <p class="text-center">На нашем сайте вы сможете найти не только информацию о предстоящих концертах, но также огромный
                                <a href="#">архив материалов</a> о прошедших мероприятиях: фото, видео, интервью.</p>
                        </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 events-table mt-5">
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">01</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">02</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Длинное название на пробу Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">03</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Охуенно длинное название, такое, какого никогда не будет, ну, а вдруг, всякое бывает же в этой жизни. Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">04</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">05</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">06</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                        <div class="event row align-items-center">
                            <div class="col-lg-2 col-md-3 col-sm-12 text-sm-center text-md-left  event-date mb-sm-4">
                                <div class="event-date-day"><div class="day-number">07</div></div>
                                <div class="event-date-month">
                                    <div class="month">Янв</div>
                                    <div class="day">Чт</div></div>
                            </div>
                            <div class="col text-md-left text-sm-center event-name mb-sm-4"><a href="#">Gärdet Open Air Stockholm – Sweeden</a></div>
                            <div class="col-lg-2 col-md-3 col-sm-12 event-tickets text-right text-sm-center">
                                <a href="#" class="btn">Билеты</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a href="#" class="btn white btn-transparent hover-red mt-5">Все события</a>
                    </div>
                </div>
            </div>
    </div>
</section>
