<footer>
    <div class="footer-news white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-lg-0 mb-md-5 mb-sm-5 mb-5">
                    <h3>Новости проекта</h3>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <p>Это к ЛОТЛ напрямую не относится, а относится к нашему сайту. Скажем, тут мы хотим сообщить, что у нас в архиве появились две тыщи фоток с концерта лохматого года.</p>
                            <p>Или о завершении какой-то большой доработки. Или вопрос в толпу. Пофиг что, короче. Можем писать с датами или просто текстом, или оставить ссылку, например.</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p>Три-четыре недлинных текстовы новости, мб с небольшой иллюстрацией, но я уверена, что это будет излишним. </p>
                            <p>Можно в две колонки, как сейчас, можно вытянуть в одну широкую. </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6  mb-md-0 mb-5 col-sm-12">
                    <h3>О нас</h3>
                    <p>Проект Lord Of The Lost Info является некоммерческим и поддерживается небольшой фан-группой из России. На сайте находится единственный в мире полный архив текстов с переводами на русский язык, крупнейший архив фото- и видео- материалов, а также переводы статей и TV Of The Lost.</p>
                    <p>Мы какие-то уж очень охуенные, знайте это :)</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Напишите нам</h3>
                    <P><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ask@lotl.info">ask@lotl.info</a></P>
                    <P><i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="https://www.facebook.com/groups/141867019693344/">LOTL.info в facebook</a></P>
                    <p><i class="fa fa-vk" aria-hidden="true"></i> <a href="https://vk.com/gameofthelost">LOTL.info в контакте</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright white">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                    <p>©Все права защищены.</p>
                    <p>Все материалы сайта взяты из открытых источников, либо с разрешения авторов с указанием авторства и гиперссылками на источники. Все копирайты сохранены. Репост материалов сайта разрешён только с указанием гиперссылки на источник. Если вы считаете, что размещением каких-либо материалов мы нарушаем ваши авторские права, напишите нам на  <a href="mailto:ask@lotl.info">ask@lotl.info</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>