<header>
    <div class="container">
        <div class="row">
            <div class="logo col-2">
                <a href="#"><img src="img/logo.svg" alt="lotl-info logo"></a>
            </div>
            <nav class="col">
                <ul class="top-menu">
                    <li class="top-menu__item"><a href="#"><span>Новости</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Инфо</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Дискография</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Статьи</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Фото</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Видео</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Скоро</span></a></li>
                    <li class="top-menu__item"><a href="#"><span>Архив</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>