<section class="lastalbum white">
    <div class="border-container top bottom">
        <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
             data-image-src="img/bg2.jpg" data-natural-width="1400" data-natural-height="900">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 release-item">
                        <div class="box">
                            <div class="cover col-8"><img src="../../img/covers/ssii.jpg"></div>
                            <div class="vinyl col-8">
                                <div class="vinyl-bg"></div>
                            </div>
                        </div>
                        <div class="box-about">
                            <h4 class="mt-5 text-left white">Swan Songs II</h4>
                            <p class="mt-2"><a href="#" target="_blank"><strong>УЖЕ В ПРОДАЖЕ!</strong></a></p>
                            <div class="mt-2">
                                <div class="buy-it-icon google-play mr-3"><a href="#"></a></div>
                                <div class="buy-it-icon itunes"><a href="#"></a></div>
                            </div>
                            <p class="mt-4">Какое-то описание альбома слов, скажем, в сорок, а можно и пару абзацев
                                даже. В общем, немного. Какое-то описание альбома слов, скажем, в сорок, а можно и пару
                                абзацев даже. В общем, немного. Какое-то описание альбома слов, скажем, в сорок, а можно
                                и пару абзацев даже. В общем, немного. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 track-list">
                        <table class="table track-list-table gray-table white w-100">
                            <tr>
                                <td>1.</td>
                                <td>Waiting for You to Die</td>
                                <td>4:03</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td><a href="#" title="официальное видео"><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Lighthouse</td>
                                <td>4:15</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td><a href="#" title="официальное видео"><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>The Broken Ones</td>
                                <td>5:08</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td><a href="#" title="официальное видео"><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>My Better Me</td>
                                <td>3:41</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td><a href="#" title="официальное видео"><i class="fa fa-video-camera" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Ribcages</td>
                                <td>4:08</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Wander in Sable</td>
                                <td>3:56</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>The Devil You Know</td>
                                <td>4:08</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>We Were Divine</td>
                                <td>3:55</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>From the Brink of the Other World</td>
                                <td>6:46</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>Fall Asleep</td>
                                <td>3:29</td>
                                <td><a href="#" title="текст и перевод"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
                                <td></td>
                            </tr>
                        </table>
                        <a href="#" class="btn white btn-transparent hover-red mt-5">Другие треки</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
