<div class="bottom-gallery">
    <div class="bottom-gallery-row row no-gutters">
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="Можно написать, кто автор фото и даже со <a href='#'>ссылкой</a>, если надо" data-caption="Можно написать, кто автор фото и даже со <a href='#'>ссылкой</a>, если надо" style="background-image: url('../../img/photo/1.jpg')" href="../../img/photo/1.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="Или оставить любое другое описалово.<br>Можно в пару строк, и, например,послать на другую нашу страницу" style="background-image: url('../../img/photo/2.jpg')" href="../../img/photo/2.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery"  style="background-image: url('../../img/photo/3.jpg')" href="../../img/photo/3.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="Все фото разных пропорций" style="background-image: url('../../img/photo/4.jpg')" href="../../img/photo/4.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery"  style="background-image: url('../../img/photo/5.jpg')" href="../../img/photo/5.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="И мы,конечно, выберем для этой галерейки самые-самые)<br/>Причём их можно будет вставлять рандомно. Можем сотню фото накидать, и они рандомно будут вставляться, если надо" style="background-image: url('../../img/photo/6.jpg')" href="../../img/photo/6.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="А на мелких экранах она показываться не будет, накой эта радость на мобильнике, правильно?" style="background-image: url('../../img/photo/7.jpg')" href="../../img/photo/7.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="Можно написать, кто автор фото и даже со <a href='#'>ссылкой</a>, если надо" style="background-image: url('../../img/photo/8.jpg')" href="../../img/photo/8.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="Можно написать, кто автор фото и даже со <a href='#'>ссылкой</a>, если надо" style="background-image: url('../../img/photo/9.jpg')" href="../../img/photo/9.jpg">
            </a>
        </div></div>
        <div class="bottom-gallery-item-wrapper"><div class="bottom-gallery-item">
            <a data-fancybox="bottom-gallery" data-caption="Можно написать, кто автор фото и даже со <a href='#'>ссылкой</a>, если надо" style="background-image: url('../../img/photo/10.jpg')" href="../../img/photo/10.jpg">
            </a>
        </div></div>
    </div>
</div>