<section class="releases section-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-sm-12 offset-sm-0">
                <p class="subtitle">Какой-то подзаголовок</p>
                <h2>Последние релизы</h2>
                <p class="text-center">Пара строчек текста про альбомы, без них как-то пустенько. Буквально чуть-чуть, немножечко,просто чтобы смотрелось приличнее.</p>
            </div>
        </div>
        <div class="row releases-list mt-5">
            <div class="col-lg-4 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-8 offset-xs-2 mb-xs-5 release-item">
                <div class="release-item-cover">
                    <img src="../img/covers/ssii.jpg" alt="">
                    <div class="release-item-info d-flex align-content-between justify-content-center align-items-center flex-column">
                        <div class="release-item-info-title">Swan songs II</div>
                        <div class="release-item-info-year">2017</div>
                        <a href="#" class="btn white btn-transparent hover-red mt-5">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1 release-item">
                <div class="release-item-cover">
                    <img src="../img/covers/empyrean.jpg" alt="">
                    <div class="release-item-info d-flex align-content-between justify-content-center align-items-center flex-column">
                        <div class="release-item-info-title">Empyrean</div>
                        <div class="release-item-info-year">2016</div>
                        <a href="#" class="btn white btn-transparent hover-red mt-5">Узнать больше</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1 release-item">
                <div class="release-item-cover">
                    <img src="../img/covers/the_love_of_god.jpg" alt="">
                    <div class="release-item-info d-flex align-content-between justify-content-center align-items-center flex-column">
                        <div class="release-item-info-title">the love of god</div>
                        <div class="release-item-info-year">2016</div>
                        <a href="#" class="btn white btn-transparent hover-red mt-5">Узнать больше</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <a href="#" class="btn dark-gray btn-transparent hover-red mt-5">Другие релизы</a>
        </div>
    </div>
</section>