<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-bg"></div>
        <div class="carousel-item active" style="background-image: url('../../img/slider/slide3.png')">
            <div class="carousel-caption d-flex flex-column justify-content-center">
                <h3>Новое видео "My Better Me"</h3>
                <p>Подробнее в разделе «Видео»</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../img/slider/slide1.jpg')">
            <div class="carousel-caption d-flex flex-column justify-content-center">
                <h3>Новый альбом "Swan&nbsp;songs&nbsp;II"</h3>
                <p>Уже в продаже!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../img/slider/slide2.jpg')">
            <div class="carousel-caption d-flex flex-column justify-content-center">
                <h3>Какой-то там заголовок</h3>
                <p>И ещё строчечка</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>

    <a href="#news" class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>

</div>


