header{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $top-panel-bg-1;
  height: $header-h;
}
.logo{
  height: $header-h;
  img{
    height: 100%;
    max-width: $logo-width;
  }
}
header nav{
  height: 100%;
}
.top-menu{
  font-family: $header-font;
  font-weight: 900;
  font-size: .95rem;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}
.top-menu__item{
  display: inline-block;
  height: 100%;
}
.top-menu__item a{
  transition: color .2s ease-out;
  color: $top-menu-item-color;
  height: 100%;
  position: relative;
  line-height: $header-h;
}
.top-menu__item>a>span{
  padding: 0 17px;
  position: relative;
  text-transform: uppercase;
}

.top-menu__item:hover{
  a{
    color: $top-menu-item-hover-color;
  }
}