/*--- Fonts ---*/
$header-font: 'Roboto', sans-serif;
$main-font: 'Ubuntu', sans-serif;
$subtitle-font: 'Ubuntu', sans-serif;







/*Colors*/

$gray: #858585;
$dark-gray: #353535;
$dark-dark-gray: #202021;
$light-gray: #6d6d6d;
$transparent-gray: rgba(0,0,0,.5);
$transparent-dark-gray: rgba(0,0,0,.85);
$light-light-gray: #b4b4b4;
$light-red: #ed5252;



$main-font-color: $gray;
$headers-color: $dark-gray;
$subtitle-color: $light-red;

/*Layout*/
$section-bg: #f3f3f3;


  /*--Header---*/
$header-h: 66px;
$logo-width: 180px;
$top-panel-bg-1: $transparent-gray;
$top-panel-submenu-bg: $transparent-dark-gray;
$top-menu-item-hover-color: $light-red;
$top-submenu-item-color: #fff;
$top-panel-dark-bg: $transparent-gray;
$top-panel-dark-item-color: #fff;
$top-panel-light-bg: #fff;
$top-panel-light-item-color: $dark-gray;
